
#full-body {
    width: 100%;
    max-width: 1600px;
    padding: 0 3px;
    margin-top: 42px;
}
.article-header {
    margin-bottom: 20px;
}

.article-body {
    width: 100%;   
    max-width: 500px;
    margin: 0 auto;
}

#fcontact {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
}

input {
    margin-left: 5px;
}

input, textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
    background-color: rgba(255, 255, 255, .8);
}

input:hover, textarea:hover {
    background-color: #dddddd;
}


legend {
    color: #888888;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: sans-serif;
}

fieldset {
    border-color: #cecece;
    /*margin: 20px;*/
}

fieldset#sex {
    width: 150px;
    margin-left: 5px;
}

#user-id {
    background: url(../img/icone-contato.png) no-repeat 95% 95%;
}

#user-address {
    background: url(../img/icone-endereco.png) no-repeat 95% 95%;
}

#user-mesage {
    background: url(../img/icone-mensagem.png) no-repeat 95% 95%;
}

#user-asked {
    background: url(../img/icone-pagamento.png) no-repeat 95% 95%;
}

#curg {
    width: 80px;
    height: 6px;
}

#cMsg {
    width: 100%;
    max-width: 222px;
    height: 50px;
    margin-left: 10px;
}

.div-urg {
    width: 100%;
    max-width: 900px;
    height: 50px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.div-smg {
    width: 100%;
    max-width: 900px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
}

textarea {
    text-align: justify;
    text-indent: 5px;
    font-size: 0.8rem;
}

#cTot {
    border: none;
}


#sent-btn {
    width: 150px;
}


@media(min-width: 768px) {
    #full-body {
        margin-top: 5px;
    }
    .article-header h4 {
        margin-left: 30px;
    }
    .article-header h6 {
        margin-right: 50px;
    }

    fieldset {
        padding: 5px;
    }
    p {
        margin: 5px 0 5px 30px;
    }
    input {
        margin-left: 5px;
    }    

    #curg {
        width: 200px;
    }
    
    #sent-btn {
        width: 100px;
        position: relative;
        left: -200px;
    }
    
}