
#album-photos {
    display: none;
}

#full-body {
    width: 100%;
    padding: 0 5px;
    margin-top: 40px;
}

.article-body {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-mobile {
    display: none;
}

#album-photos-mobile {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#album-photos-mobile div {
    width: 100%;
    margin: 5px;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-header {
    padding: 0 1%;
}

.article-header h6 {
    margin: -8px 0 0 0;
    
}


@media(min-width: 600px) {
    
    .article-body {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    
}

@media(min-width: 768px) {
    
    
    #album-photos-mobile {
        display: none;
    }
    
    #full-body {
        margin: 0 auto;
        margin-top: -30px;
        padding: 30px;
    }

    .text-mobile {
        display: flex;
    }
    
    .article-header h6 {
        display: block;
        position: relative;
        top: 60px;
    }

    .article-body {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #album-photos {
        max-width: 700px;
        width: 700px;
        padding: 20px;
        overflow: hidden;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    #album-photos li {
        /*float: left; no caso de não usar display no #album-photos*/
        width: 200px;
        height: 200px;
        margin: 10px;
        border: 1px solid #fff;
        background-color: #fff;
        box-shadow: 1px 1px 3px rgba(0,0,0,.4);
        transition: all .4s ease-in;
    }

    #album-photos li span {
        opacity: 0;
        color: #fff;
        text-shadow: 1px 1px #000;
        background-color: rgba(0,0,0,.3)
        font-size: 1.5rem;
        line-height: 350px;
        padding: 10px;
    }

    #album-photos li:hover {
        transform: scale(1.5);
    }

    #album-photos li:hover span {
        opacity: 1;
    }
    
    #album-photos li#photo1 {
        background: url(../img/galeria-01.jpg) no-repeat;
        background-position: 50% 50%;
        background-size: 400px 400px;
        background-color: #fff;
    }

    #album-photos li#photo1:hover {
        background-position: 0px 0px;
        background-size: 200px 200px;
    }

    #album-photos li#photo2 {
        background: url(../img/galeria-02.jpg) no-repeat;
        background-position: 50% 50%;
        background-size: 400px 400px;
        background-color: #fff;
    }

    #album-photos li#photo2:hover {
        background-position: 0px 0px;
        background-size: 200px 200px;
    }

    #album-photos li#photo3 {
        background: url(../img/galeria-03.jpg) no-repeat;
        background-position: 50% 50%;
        background-size: 400px 400px;
        background-color: #fff;
    }

    #album-photos li#photo3:hover {
        background-position: 0px 0px;
        background-size: 200px 200px;
    }

    #album-photos li#photo4 {
        background: url(../img/galeria-04.jpg) no-repeat;
        background-position: 50% 50%;
        background-size: 400px 400px;
        background-color: #fff;
    }

    #album-photos li#photo4:hover {
        background-position: 0px 0px;
        background-size: 200px 200px;
    }

    #album-photos li#photo5 {
        background: url(../img/galeria-05.jpg) no-repeat;
        background-position: 50% 50%;
        background-size: 400px 400px;
        background-color: #fff;
    }

    #album-photos li#photo5:hover {
        background-position: 0px 0px;
        background-size: 200px 200px;
    }

    #album-photos li#photo6 {
        background: url(../img/galeria-06.jpg) no-repeat;
        background-position: 50% 50%;
        background-size: 400px 400px;
        background-color: #fff;
    }

    #album-photos li#photo6:hover {
        background-position: 0px 0px;
        background-size: 200px 200px;
    }
}
