/*continuar na aula 28 em 10 minutos */

#interface {
    height: 800px;
    border: 1px solid black;
}

#main-header {
    margin-bottom: 40px;
}


#full-body {
    width: 100%;
    height: 650px;
    max-width: 1400px;
    background-color: #fff;
    margin: 0 auto;
}

#content {
    width: 100%;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-header h6 {
    margin-top: -67px;
}

#med-img, #big-img {
    display: none;
}


#img-frame {
    width: 100%;
    max-width: 400px;
    height: 320px;
    border: none;
}

@media(min-width: 600px) {
    #small-img {
        display: none;
    }
    #med-img {
        display: flex;
    }
}

@media(min-width: 768px) {
    
    #main-header {
        margin-bottom: 0px;
    }
    
    .article-header {
        margin-bottom: 50px;
    }
    
    .article-header h4 {
        margin-left: 35px;
    }

    .article-header h6 {
        display: block;
        position: relative;
        top: 70px;
        margin-right: 60px;
    }

    #full-body {
        width: 98%;
        height: 450px;
    }
    
    #content {
        width: 100%;
        height: 280px;
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    #med-img {
        display: none;
    }

    #big-img {
        display: flex;
        max-width: 400px;
    }
    
    #img-frame {
        height: 280px;
        max-width: 405px;
    }
    
    #main-footer {
        position: absolute;
        top: 730px;
        
    }
  
}

