/*Continuar vendo a formatação dos links, todos*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@font-face {
    font-family: 'fontLogo';
    src: url("../font/bubblegum-sans-regular.otf");
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --red-color: #ff0000;
    --light-gray-color: #dddddd;
    --dark-gray-color: #606060;
    --light-color: #888888;
    --author-name: #cecece;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--light-gray-color);
    color: var(--black-color);
    font-family: Arial, sans-serif;
}
#interface {
    width: 100%;
    height: 100%;
    padding: 0 7px;
    margin: 0 auto;
    background-color: var(--white-color);
}

/*Formatação do cabeçalho*/

#main-header {
    width: 100%;
    height: 240px;
    padding-top: 5px;
    border-bottom: 1px solid var(--black-color);
}

.main-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.main-titles-and-img {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-header h1 {
    font-family: 'fontLogo', sans-serif;
    font-size: 2rem;
    color: var(--dark-gray-color);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

#main-header h2 {
    font-family: 'titillium', sans-serif;
    font-size: 1rem;
    color: var(--light-color);
}

.menu {
    display: none;
}

ul {
    width: 100%;
}

.menuMobile {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 80px;
}

.menuMobile img {
    width: 40px;
}

.menuMobile li {
    list-style: none;
}

.hidden-link {
    display: none;
}

#image-glass {
    height: 110px;
    text-align: center;
    background-image: url(../img/glass-logo-peq.jpg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 50% 100%;
    position: absolute;
    top: 120px;
}   

#icone {
    width: 40%;
}

p {
    font-size: 0.8rem;
    text-align: justify;
    text-indent: 10px;
}

a{
    color: var(--dark-gray-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*Formatação das seções*/
.column-or-columns {
    max-width: 1400px;
    width: 100%;
    padding: 0 0 5px 0;
    margin: 40px auto 0 auto;
}

.column-one {
    max-width: 600px;
}

.column-two {
    max-width: 600px;
}


#section-in-mobile {
    margin: 5px 0;
}

/*Formatação de imagens com legenda*/
figure.photo-caption {
    position: relative;
    border: 8px solid var(--white-color));
    box-shadow: 1px 1px 4px var(--black-color);
}   
figure.photo-caption img {
    width: 100%;
    height: 100%; 
}

figure.photo-caption figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0,.4);
    color: var(--white-color);
    width: 100%;
    height: 100%;
    padding: 10px; 
    transition: opacity 1s;
}
figure.photo-caption figcaption:hover {
    opacity: 1;   
    font-size: 2rem;
}

/*Formatação de vídeos* e áudios*/
video {
    width: 100%;
}

.aside-outside-mobile {
    display: none;
}

.article-header {
    height: 50px;
}

.article-header h2 {
    font-family: 'fontlogo', sans-serif;
    font-size: 1.2rem;
    color: var(--dark-gray-color);
    text-align: center;
    margin-top: 10px;
}

.article-header h4 {
    font-size: 0.8rem;
    color: var(--author-name);
    background-color: var(--white-color);
    margin-top: -7px;
    margin-bottom: 20px;
    text-align: center;

}

.article-header h5 {
    margin-top: -40px;
    font-size: 0.4rem;
}

.article-header h6 {
    font-size: 0.4rem;
    margin-top: -65px;
    text-align: right;
}

.article-body h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--dark-gray-color);
    background-color: var(--light-color);
    padding: 5px 0 5px 10px;
    margin: 10px 0;
}


#main-news table {
    border: 1px solid var(--dark-gray-color);
    border-spacing: 0;
    margin: 0 auto;
}

#main-news caption {
    color: var(--light-color);
    font-size: 1rem;
    font-weight: 900;
}

#main-news caption span {
    display: block;
    float: right;
    color: var(--black-color);
    font-size: 0.8rem;
    margin-top: 10px;
}

#main-news td {
    border: 1px solid var(--dark-gray-color);
    padding: 10px;
}

#main-news td.left-column {
    color: var(--white-color);
    background-color: var(--dark-gray-color);
    text-align: right;
    vertical-align: top;
}

#main-news td.right-column {
    background-color: var(--light-gray-color);
}

#other-news-section {
    font-family: 'fontlogo', sans-serif;
    font-size: 1rem;
    color: var(--black-color);
    background-color: var(--light-gray-color);
    padding: 10px;
    margin-top: 10px;
}

#other-news-section h2 {
    font-size: 1.2rem;
    color: var(--black-color);
    text-align: center;   
}


#other-news-section h3 {
    background-color: var(--dark-gray-color);
    font-size: 1.2rem;
    color: var(--white-color);
}

.observ {
    margin-top: 10px;
    text-align: center;
    border: 1px solid #dddddd;
}


#main-footer {
    width: 100%;
    height: 80px;
    background-color: var(--light-gray-color);
    border-top: 1px solid var(--black-color);
    display: flex;
    align-items: center;
    
}

.footer-information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-information div {
    width: 100%;
    max-width: 250px;
    padding-top: 5px;
}

.footer-information p {
    width: 250px;
}

#faceB, #twitt {
    width: 10%;
}
#faceB {
    margin-left: 100px;
}



@media(min-width: 768px) {
    /*Formatação do cabeçalho*/
    
    #interface {
        padding: 0 5px;
    }  
    #main-header {
        height: 200px;
    }

    .main-nav {
        height: 200px;
     }
           
    #main-header h1 {
        font-size: 3rem;
    }
    
    #main-header h2 {
        font-size: 1.5rem;
        width: 437px;
    }
    
    .main-titles-and-img {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
        
    .menuMobile {
        display: none;
    }
    
    .menu  {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        top: 0px;
    }

    .menu li {
        width: 146px;
        height: 40px;
        background-color: var(--light-gray-color);
        padding-bottom: 10px;
        margin: 2px 2px;
        list-style: none;
        text-transform: uppercase;
        transition: background-color 1s;
    }

    .menu li:hover {
        background-color: var(--dark-gray-color);
    }
   
    .menu a {
        width: 146px;
        height: 40px;
        font-size: 1rem;
        text-decoration: none;
        color: var(--black-color);
        font-weight: 400;
        padding-top: 10px;
        display: flex;
        justify-content: center;
    }

    .menu a:hover {
        color: var(--white-color);
        font-weight: 700;
        text-decoration: underline;
    }
    
    .main-titles {
        height: 150px;
        background-image: url("../img/glass-logo-peq.jpg");
        background-repeat: no-repeat;
        background-position: 50% 100px;
        background-size: 40%;
        position: relative;
        left: -10%;
    }


    #image-glass h2 {
        display: none;
    }

    #image-glass {
        width: 150px;
        background-image: none;
        position: relative;
        top: 0;
    }
    
    #icone {
        width: 100%;
        position: relative;
        top: 50px;
        
    }

    /*Formatação das seções*/

    .section-in-mobile {
        display: none;
    }
    
    .article-header {
        max-width: 1100px;
        height: 80px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
    .aside-outside-mobile {
        display: flex;
    }
    
    .column-or-columns {
        margin-top: 0px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;  
    }
    
    .column-one {
        border-right: 1px solid var(--black-color);
        margin: 0px 10px 0 0;
    }
    
    .article-header h2 {
        font-size: 1.5rem;
        text-align: left;
    }
    
    .article-header h4 {
        margin-left: 80px;
        text-align: left;
    }
    
    .article-header h5 {
        font-size: 0.8rem;
        margin-top: 0px;
        
    }
    
    .article-header h6 {
        font-size: 0.8rem;
        margin-top: -10px;
        margin-right: 10px;
        
    }
    
    #other-news-aside {
        font-family: 'fontlogo', sans-serif;
        font-size: 1rem;
        color: var(--black-color);
        background-color: var(--light-gray-color);;
        padding: 10px;
        margin-top: 10px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    #other-news-aside h2 {
        color: var(--black-color);
        font-size: 1.2rem;
    }
    
    #other-news-aside h3 {
        background-color: var(--dark-gray-color);
        color: var(--white-color);
        font-size: 1rem;
    }

    #main-footer {
        max-width: 1600px;
    }

}

